<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v8.0" sku=".NETFramework,Version=v8.0" />
  </startup>
  <appSettings>
    <add key="ServerUrl" value="ws://localhost:3000/socket.io/" />
    <add key="PcId" value="PC-001" />
    <add key="Token" value="GANTI_DENGAN_TOKEN_PC_DARI_DASHBOARD_KASIR" />
    <add key="HeartbeatInterval" value="20" />
    <add key="IdleTimeoutMinutes" value="5" />
  </appSettings>
</configuration>